@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .cyber-gradient {
        background: linear-gradient(135deg, #0a1929 0%, #020c1b 100%);
    }
    .neon-cyan {
        color: #00f7ff;
        text-shadow: 0 0 10px rgba(0, 247, 255, 0.5);
    }
    .bg-custom{
        background-image: url('/images/cybersecurity2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
html {
    scroll-behavior: smooth;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(10, 25, 41, 0.95);
    backdrop-filter: blur(10px);
}

body {
    padding-top: 76px;
}
